body {
    background: url("/images/background.png") #193153;
}

div.container {
    background: #ffffffee;
    min-height: 100vh;
    margin-bottom: -2rem;
}

#prebuilt-links {
    min-height: 1.5em;
}

a {
    color: #0a58ca;
    text-decoration: none;
}
a:hover {
    color: #212529;
}

textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: none !important;
}
