body {
    background: #193153;
}

div.container {
    background: #ffffffee;
    height: 100%;
}

a {
    text-decoration: none;
}

textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: none !important;
}
